
* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: white;
}

.div {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
}

.div-input {
    margin-left: 20%;
    margin-right: 20%;
}

.login-title {
    color: #08B0BB;  
    text-align: center;
    font-size: 60px;
}

.text {
    color: #8E8E8E;
    font-size: 14px;
    margin-top: 2%;
}

input{
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid #08B0BB;
    font-size: 15px;
}

button{
    background-color: #08B0BB;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background-color: #08B0BB;
}

.wave-1, .wave-2, .wave-3, .wave-4, .wave-5 {
    position: absolute;
    bottom: -2px;
    width: 100%;
}

.wave-1 {
    opacity: 0.3;
    animation: move-l 5s infinite;
}

.wave-2 {
    opacity: 0.4;
    animation: move-l 5s infinite;
}

.wave-3 {
    opacity: 0.5;
    animation: move-l 5s infinite;
}

.wave-4 {
    opacity: 0.6;
    animation: move-l 5s infinite;
}

.wave-5 {
    opacity: 0.1;
    animation: move-l 5s infinite;
}

@keyframes move-l{
    50%{
        transform: translateY(15px);
    }
}